body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#lineaVerde {
    background-color: #1e5128;
    height: 5px;
    display: flex;
    align-items: center;
    margin-top: 3%;
}

#lineaRoja {
    background-color: #800e49;
    height: 10px;
    display: flex;
    align-items: center;
}

.fila {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: center;
}

.preview{


}

.item {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px
}

.contenedor {
    text-align: center;
}


.fondoGris{
    background-color: white;
    padding-top: 5px;
}


.separado{
padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;

}

.nombre{
    width:100%;
    text-align: center;
    border-style: hidden;
    font-size: 20px;

}
.descripcion{
    width:100%;
    text-align: center;
    border-style: hidden;
    font-size: 20px;
}
.cantidad{
    width:100%;
    text-align: center;
    border-style: hidden;
    font-size: 20px;
    float: right;


}
.precio{
  width:100%;
  text-align: center;
  border-style: hidden;
  font-size: 20px;
  float: left;
}

#negro {
    background-color: black;
    height: 19px;
    width: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;

  }

  #rojo {
    background-color: rgb(223, 19, 19);
    height: 19px;
    width: 50px;
    border:none;
    border-radius: 25px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;



  }

  #blanco {
    background-color: white;
    border:  1px solid #800e49;
    height: 19px;
    width: 50px;
    display: inline-block;
    margin: 4px 2px;
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
  }

  #azul {
    background-color: darkblue;
    border: 1px blue;
    color: white;
    height: 19px;
    width: 50px;
    border-radius: 25px;
    margin: 4px 2px;
  }

  #verde {
    background-color: green;
    height: 19px;
    color: white;
    width: 50px;
    border-radius: 25px;
    margin: 4px 2px;
    border:none;
    font-size: 10px;

  }

  #rosado {
    background-color: pink;
    height: 19px;
    width: 50px;
    border-radius: 25px;
    color: white;
    margin: 4px 2px;
    border:none;
    font-size: 10px;
  }

  #cafe {
    background-color: rgb(156, 114, 60);
    height: 19px;
    width: 50px;
    border-radius: 25px;
    color: white;
    margin: 4px 2px;
    border:none;
    font-size: 10px;
  }

  #fucsia {
    background-color: rgba(255, 0, 55, 0.74);
    height: 19px;
    width: 50px;
    border-radius: 25px;
    color: white;
    margin: 4px 2px;
    border:none;
    font-size: 10px;
  }

  #azulClaro {
    font-size: 10px;
 background-color: rgb(192, 242, 255);
    height: 19px;
    width: 60px;
    border-radius: 25px;
    color: black;
    margin: 4px 6px;
    border:none;
    font-size: 10px;


  }

  #amarillo {
    background-color: yellow;
    height: 19px;
    width: 50px;
    border-radius: 25px;
    color: white;
    margin: 4px 2px;
    border:none;
    font-size: 10px;


  }

  #avano {
    background-color: rgba(240, 208, 170, 0.767);
    height: 19px;
    width: 50px;
    border-radius: 25px;
    color: white;
    margin: 4px 2px;
    border:none;
  }


  .pequeno{
    background-color: white;
    margin-top: 35px;
    margin-bottom: 1px;
    width:8%;
    height:60px;
    top: 50%;
    border: none;
  }

.mediano{
    background-color: white;
    top: 50%;
    margin-left:27px;
    width:10%;
    border:none;
  }
.grande{
    background-color: white;
    top: 50%;
    margin-bottom: 13px;
    border:none;
    margin-left:27px;
    width:15%;
    height:80%;
    text-align:left;
    border:none;
}
.imagenTamaño{
  height: 100%;;
}


#promocion{
    width: 70px;
    border-radius: 20px;
    background-color: #1e5128;
    color: white;
    font-size: 10px;
    font-weight:bold;
    vertical-align: middle;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border:none;

}
.submit{

}
.column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*check box*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }


  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  #imagenPreview{
    height: 150px;
  }

  .tamañoSeleccionado{
    height: 5px;
    width: 100%;
    background-color: #1e5128;
  }
  .colorSeleccionado{
    height: 5px;
    width: 60px;
    background-color: #1e5128;
    margin: 5px;
  }