#rectangleGris {
  width: 350px;
  background: #e4e4e4;
  margin: 10px;
  justify-content: center;
  text-align: center;
}


#rectangleFoto {
  width: 90%;
  height: auto;
  background: white;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
text-align: center;
}

#imagen{
width: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
}

#botonEditar {
  height: 50px;
  width: 50px;
  background-color: #3275fc;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin:10px;

}

#iconoEditar{

  height: 80%;
  width: 80%;
  background-color: #3275fc;


}

#botonBorrar {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin:10px;
}

#iconoBorrar{

  height: 80%;
  width: 80%;
  background-color: red;
}

#promocion {
  width: 70px;
	border-radius: 20px;
  background-color: #1e5128;
  color: white;
  font-size: 10px;
  font-weight:bold;
  vertical-align: middle;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

#noDisponible {
  width: 100px;
	border-radius: 20px;
  background-color: #800e49;
  color: white;
  font-size: 10px;
  font-weight:bold;
  vertical-align: middle;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
